<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <nav>
        <div class="site-title">
            <a href="/"><h1>Cyber Blog</h1></a>
            <p>Cyber space site</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/add">New Blog</a></li>
        </ul>
    </nav>

    <div class="not-found content">
        Page Not Found!
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>